<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<style type="text/css">
		#sticky-footer {
 		 flex-shrink: none;
		}
		.site-footer {
  /*background-color: #261d1d;*/
	text-align: center;
	margin: 10px 0;
	padding: 10px 0;
}

#social-wrapper {
	text-align: center;
}

/*Social Media Icons*/
.social-wrapper {
	text-align: center;
}

.social-wrapper ul li {
	display: inline;
	margin: 0 5px;
}

.twitter-icon,
.facebook-icon,
.instagram-icon,
.linkedin-icon,
.googleplus-icon,
.youtube-icon,
.foursquare-icon{
	margin-top: .625em;
	width: 40px;
	height: 40px;
	opacity: .6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
  border-radius: 25px;
}

.twitter-icon:hover,
.facebook-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover,
.googleplus-icon:hover,
.youtube-icon:hover,
.foursquare-icon:hover {
	opacity: 1.0;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

.footer-nav p {
	text-align: center;
}
.img-responsive{
	height: 25px;
}
.my-image{
	width: 100%;
}
.my-card{
	padding: 50px;
}
</style>
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<a href="#" class="navbar-brand">
		<!--<img src="logo1.jpg" class="img-responsive">-->
		DEEPFAKE DETECTION</a>
		<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarMenu">
			<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a href="/#" class="nav-link">Home</a>
			</li>
			<li class="nav-item active">
				<a href="/about" class="nav-link">About Us</a>
			</li>
			<li class="nav-item ">
				<a href="/contactus" class="nav-link">Contact Us</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link">GITHUB</a>
			</li>
		</ul>
		</div>
	</nav>
	
	<div class="container">
		<div class="card" style="margin: 15px">
			<div class="card-header bg-white">
				<h1 style="text-align: center;padding-top: 10px; color: black">About Us</h1>
			</div>
			<div class="card-body">
				<p style="font-size: 25px"><b>Deepfakes</b> are going to be the first real punch from AI to humanity. The cybersecurity industry has a very short time to get ahead of deepfakes before they undermine the public’s trust in reality.</p>
				<p style="font-size: 25px">We first recognized the danger while studying our sixth semester seminar topic. Later, in seventh semester, we continued our research on deepfake detection as the fourth year project topic.</p>
				<p style="font-size: 25px">We expect destructive use of deepfakes, particularly as phishing attacks, to materialize very soon. The main limitation is the lack of legitimate voice-swapping techniques, which is a much greater danger than face/head-swapping.</p>
				<p style="font-size: 25px">Communities should be working together to find a reliable solution to deepfakes while we still have time, and we promise to share further advancements with the community.</p>
			</div>
		</div>
	</div>
	<!--footer-->

<footer id="colophon" class="site-footer bg-dark" role="contentinfo">
  <div class="social-wrapper">
    <ul>
      <!--<li>
        <a href="#" target="_blank">
          <img src="twitter.png" alt="Twitter Logo" class="twitter-icon"></a>
      </li>-->
      <li>
        <a href="#" target="_blank">
          <img src="./img/insta.png" alt="Instagram Logo" class="instagram-icon"></a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img src="./img/linkedin.png" alt="Linkedin Logo" class="linkedin-icon"></a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img src="./img/facebook.png" alt="Facebook Logo" class="facebook-icon"></a>
      </li>
    </ul>
  </div>


  <nav class="footer-nav" role="navigation">
    <p style="color: white">Copyright &copy; 2020-
      Pune Institute of Computer Technology All rights reserved.</p>
  </nav>
</body>
</html>