<!DOCTYPE html>
<html>
<head>
	<title>Contact Us</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<style type="text/css">
		#sticky-footer {
 		 flex-shrink: none;
		}
		.site-footer {
  /*background-color: #261d1d;*/
	text-align: center;
	margin: 10px 0;
	padding: 10px 0;
}

#social-wrapper {
	text-align: center;
}

/*Social Media Icons*/
.social-wrapper {
	text-align: center;
}

.social-wrapper ul li {
	display: inline;
	margin: 0 5px;
}

.twitter-icon,
.facebook-icon,
.instagram-icon,
.linkedin-icon,
.googleplus-icon,
.youtube-icon,
.foursquare-icon{
	margin-top: .625em;
	width: 40px;
	height: 40px;
	opacity: .6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
  border-radius: 25px;
}

.twitter-icon:hover,
.facebook-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover,
.googleplus-icon:hover,
.youtube-icon:hover,
.foursquare-icon:hover {
	opacity: 1.0;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

.footer-nav p {
	text-align: center;
}
.img-responsive{
	height: 25px;
}
.my-image{
	width: 100%;
}
.my-card{
	padding: 50px;
}
</style>
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<a href="#" class="navbar-brand">
		<!--<img src="logo1.jpg" class="img-responsive">-->
		DEEPFAKE DETECTION</a>
		<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarMenu">
			<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a href="/#" class="nav-link">Home</a>
			</li>
			<li class="nav-item">
				<a href="/about" class="nav-link">About Us</a>
			</li>
			<li class="nav-item active">
				<a href="/contactus" class="nav-link">Contact Us</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link">GITHUB</a>
			</li>
		</ul>
		</div>
	</nav>
	        
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-lg-8 col-md-12 col-sm-12">
					<div class="card">
						<div class="card-header bg-dark">
							<h3 style="text-align: center;padding-top: 10px; color: white">FIND US</h3>
						</div>
						<div class="card-body">
							<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.5761897254206!2d73.84864491471969!3d18.457542087445745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2eac85230ba47%3A0x871eddd0a8a0a108!2sSCTR&#39;S%20Pune%20Institute%20of%20Computer%20Technology!5e0!3m2!1sen!2sin!4v1622743339525!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>

						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12">
					<div class="card">
						<div class="col-lg-12 col-md-4 col-sm-4">
							<div class="card" style="padding-top: 10px">
								 <!--<div class="card-header bg-dark">
									<h3 style="text-align: center;padding-top: 10px; color: white">CONTACT</h3>	 	
								 </div>-->
								 <div class="card-body">
								 	<p style="font-size: 20px;"><img src="./img/icon8.png">  Contact No.</p>
								 	<ul style="font-size: 18px">
								 		<li style="padding: 10px"><img src="./img/icon7.png"> +91-8237748123</li>
								 		<li style="padding: 10px"><img src="./img/icon7.png"> +91-8600996887</li>
								 	</ul>
								 </div>
							</div>
						</div>
						<div class="col-lg-12 col-md-4 col-sm-4">
							<div class="card" style="padding-top: 10px">
								 <!--<div class="card-header bg-dark">
									<h3 style="text-align: center;padding-top: 10px; color: white">Address</h3>	 	
								 </div>-->
								 <div class="card-body">
								 	<p style="font-size: 20px"><img src="./img/icon9.png"> Address</p>
								 	<p style="font-size: 18px;">Pune Institute Of Computer Technology<p>
								 	<a href="#" class="btn btn-primary stretched-link bg-dark" style="display: flex; justify-content: center;">Get Directions</a>
								 </div>
							</div>
						</div>
						<div class="col-lg-12 col-md-4 col-sm-4">
							<div class="card" style="padding-top: 10px">
								<div class="card-body">
									<p style="font-size: 20px"><img src="./img/icon10.png"> Email</p>
									<p style="font-size: 18px">thisguyfcuks01@gmail.com</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--footer-->
<footer id="colophon" class="site-footer bg-dark" role="contentinfo">
  <div class="social-wrapper">
    <ul>
      <!--<li>
        <a href="#" target="_blank">
          <img src="twitter.png" alt="Twitter Logo" class="twitter-icon"></a>
      </li>-->
      <li>
        <a href="#" target="_blank">
          <img src="./img/insta.png" alt="Instagram Logo" class="instagram-icon"></a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img src="./img/linkedin.png" alt="Linkedin Logo" class="linkedin-icon"></a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img src="./img/facebook.png" alt="Facebook Logo" class="facebook-icon"></a>
      </li>
    </ul>
  </div>


  <nav class="footer-nav" role="navigation">
    <p style="color: white">Copyright &copy; 2020-
      Pune Institute of Computer Technology All rights reserved.</p>
  </nav>
</body>
</html>