<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="./css/style.css">
        
    </head>

    <body>
        <div class="main-content">
            {{>header}}

            <p> Use this site to scan the video</p>

            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" id="myFile" name="myFile">
                <button>search</button>
            </form>

            <p> {{ERROR}}</p>

        </div>


        {{>footer}}

        
    </body>

</html>