<footer id="colophon" class="site-footer bg-dark" role="contentinfo">
  <div class="social-wrapper">
    <ul>
      <!--<li>
        <a href="#" target="_blank">
          <img src="twitter.png" alt="Twitter Logo" class="twitter-icon"></a>
      </li>-->
      <li>
        <a href="#" target="_blank">
          <img src="./img/insta.png" alt="Instagram Logo" class="instagram-icon"></a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img src="./img/linkedin.png" alt="Linkedin Logo" class="linkedin-icon"></a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img src="./img/facebook.png" alt="Facebook Logo" class="facebook-icon"></a>
      </li>
    </ul>
  </div>


  <nav class="footer-nav" role="navigation">
    <p style="color: white">Copyright &copy; 2020-
      Pune Institute of Computer Technology All rights reserved.</p>
  </nav>
</footer>

